html {
  font-family: 'Roboto Slab', serif;
}

/* body {
  background-image: url(./public/images/background-dark.jpg);
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}  */